<div class="row">
    <div class="container col-sm-12 col-md-12 col-lg-12">
        <div class="logo">
            <img src="../../../assets/APLogo.png"id="logoAP">
        </div>
        <div class="redes">
           
                <a href="https://www.linkedin.com/in/emilianomartingomez/" target="_blank"><img src="../../../assets/linkedin.png"alt="linkedin"></a>
                <a href="https://twitter.com/emiliano_32"target="_blank"><img src="../../../assets/twitter.png"alt="twitter"></a>
                <a href="https://www.instagram.com/emgomez32/"target="_blank"><img src="../../../assets/instagram.png"alt="instagram"></a>
                <a href="https://github.com/EMGomez32"target="_blank"><img src="../../../assets/github.png"alt="github"></a>
                <a href="https://www.facebook.com/32emiliano32/"target="_blank"><img src="../../../assets/facebook.png"alt="facebook"></a>
                <button type="button" class="btn btn-outline-warning">INGRESO</button>
            </div>
        </div>
    </div>



